@model ElArabia.ViewModel.ItemsListViewModel

@{
    ViewBag.Title = "All Product";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid padding my-lg-5">
    <div class="row padding">
        @foreach (var item in Model.ProductsDetails)
        {
            <div class="col-md-3 col-sm-6 my-lg-5">
                <div class="product-grid3">
                    <div class="product-image3">
                        <a href="#">
                            <img class="pic-1" src="@Url.Content(item.Image)" style="width:100%;">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title">@item.NameAr</h3>
                    </div>
                    <ul class="social">
                        <li>
                            <a>
                                <img onclick="location.href='@Url.Action("DeleteItemDetails", "Admin", new { ProductDetailsId = item.Id })'" class="svg-icon" src="~/Images/018-delete.svg" title="delete" style="width: 17%;" />
                            </a>
                            <a onclick="location.href='@Url.Action("_EditItemDetails", "Admin", new { ProductDetailsId = item.Id })'">
                                <i class="fa-solid fa-pen-to-square" style="width:20%"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>

