@model ElArabia.ViewModel.ItemsListViewModel

@{
    ViewBag.Title = "Result Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid padding my-5">
    <div class="row padding">
        @foreach (var item in Model.products)
        {
            <div class="col-md-3 col-sm-6 my-5">
                <div class="product-grid3">
                    <div class="product-image3">
                        <a href="#">
                            <img class="pic-1" src="@Url.Content(item.Image)" style="width:100px;">
                        </a>
                        <ul class="social">
                            <li><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = item.NameEn})'"></a></li>
                        </ul>

                    </div>
                    <div class="product-content">
                        <h3 class="title"><a onclick="location.href='@Url.Action("_MoreDetials", "Home" , new {NameEn = item.NameEn})'">@item.NameAr</a></h3>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    var ItemId = $("#ItemId").val();
</script>